.feed {
  width: 100%;
  min-height: 60em;
  background: rgba($cod-grey, 0.75);
  border: solid thick $tundora;
}

.feed__title {
  padding: .5em 1em;
  background-color: $tundora;
  color: $white;
}

.feed__form {
  width: 100%;
  display: flex;
  align-items:center;
  padding: 0 .5em;

  span {
    color: $tamarillo;
  }
}

.feed__form-input {
  padding: 1em;
  box-sizing : border-box;
  width: 100%;
  color: $tamarillo;
  // min-height: 3em;
  background-color: $cod-grey;
  border: none;

  &:placeholder {
    color: $white;
  }
}

.feed__content {
  font-family: 'Inconsolata', monotype;
  padding: .5em 1em;
}

.feed__content-post {
  margin-bottom: 1.5em;
}

.feed__content-post-banner {
  display: flex;
  margin-bottom: .5em
}

.feed__content-post-name {
  font-weight: bold;
}

.feed__content-post-time {
  margin-left: auto;
}
