.feed {
  width: 100%;
  min-height: 60em;
  background: rgba($cod-grey, .75);
  border: solid thick $tundora;
}

.feed__title {
  padding: .5em 1em;
  background-color: $tundora;
  color: $white;
}

.feed__form {
  width: 100%;
  display: flex;
  align-items:center;

  span {
    color: $tamarillo;
  }
}

.feed__form-input {
  padding: 1em;
  width: 100%;
  color: $white;
  // min-height: 3em;
  background-color: $cod-grey;
  border: none;

  &:focus {
    border-bottom: solid thin $tundora;
    outline: 0;
  }
  // &::placeholder {
  //   color: $tamarillo;
  // }
}

.feed__form-button {
  background: $tundora;
  border: solid thin $tundora;
  color: $white;
  border: none;
  padding: 1em .75em;
  margin-left: auto;
  transition: filter .5s ease;

  &:hover {
    filter: invert(100%);
    transition: filter .5s ease;
  }
}

.feed__content {
  font-family: 'Inconsolata', monotype;
  padding: .5em 1em;
}

.feed__content-post {
  margin-bottom: 1.5em;
}

.feed__content-post-banner {
  display: flex;
  margin-bottom: .5em
}

.feed__content-post-name {
  font-weight: bold;
}

.feed__content-post-time {
  margin-left: auto;
}
