
.nav {
  width: 100%;
  background-color: $cod-grey;
  color: $white;
  position: fixed;
  top: 0;
  z-index: 10;
}

.nav__links-wrapper {
  display: flex;
}

.nav__icon {
  cursor: pointer;

  img {
    width: 4.5em;
    height: 4.5em;
  }

  &--home {
    margin-right: 1.5em;

    img {
      width: 6em;
    }

    &:active {
      background: $black;
    }
  }


  &--account {
    margin-left:auto;
  }

  &:active {
    filter: invert(100%);
    // transition: filter .25s ease;
  }
}
