
.nav {
  width: 100%;
  background-color: $black;
  color: $white;
  position: fixed;
  top: 0;
  z-index: 10;
}

.nav__links-wrapper {
  display: flex;
  // padding: .5em 0;
}

.nav__vs-item {

}

.nav__home {
  display: inline-block;
  padding: .25em;
  border: solid 2px #000;
  background-color: $black;
  transition: 1s filter ease;

  img {
    width: 4.5em;
    // height: 2.5em;
  }
  outline: 0;
  &:hover {
    // background-color: $white;
    filter: invert(100%);
      #icon-logo {
        path {
          fill: $bright-turquoise;
          transition: 1s fill ease;
        }
      }
  }
}



#icon-logo {
  width: 2em;
  height: 2em;
}
