
.nav {
  width: 100%;
  background-color: $bright-turquoise;
  color: $cod-grey;
  position: fixed;
  top: 0;
  z-index: 10;
}

.nav__links-wrapper {
  display: flex;
  padding: .5em 0;
}

.nav__vs-item {

}

.nav__home {
  display: inline-block;
  padding: .25em;
  border: solid 2px #000;
  background-color: $bright-turquoise;
  transition: 1s background-color ease;
  
  outline: 0;
  &:hover {
    background-color: $cod-grey;
      #icon-logo {
        path {
          fill: $bright-turquoise;
          transition: 1s fill ease;
        }
      }
  }
}



#icon-logo {
  width: 2em;
  height: 2em;
}
