.ranked-spaces {
  width: 100%;
  min-height: 15em;
  background: rgba($cod-grey, 0.75);
  border: solid thick $tundora;
  margin-top: 1em;
}

.ranked-spaces__title {
  padding: .5em 1em;
  font-size: 3em;
  color: $white;
  text-align: center;
}

.ranked-spaces__section {
  padding: 0 5em;
  color: $tundora;
  margin-bottom: 3em;
}

.ranked-spaces__sub-title {
  text-align: center;
}

.ranked-spaces__top {
  column-count: 2;
  list-style-type: decimal;
  text-align: center;
  line-height: 2.5em;

}

.ranked-spaces__random {

}
