
.app {
  width: 100%;
  height: 100%;

}

.app__container {
  display: flex;
  max-width: 125em;
  margin: 0 auto;
  height: 100%;
}

.app__bg-pillar {
  display: flex;
  flex-direction: column;
  margin-top: 7em;

  &--left {
    margin-right: 2.5em
  }

  &--right {
    margin-left: 2.5em
  }
}

// .app__bg-pillar-edge {
//   img {
//     width: 20em;
//     height: 100%;
//     opacity: .1;
//   }
// }
//
// .app__bg-pillar-mid {
//   flex-grow: 1;
//
//   img {
//     width: 20em;
//     height: 100%;
//     opacity: .1;
//   }
// }

.app__title {
  text-align: center;
}

.app__logo-container {
  display: flex;
  justify-content: center;
  padding-top: 1em;

  img {
    filter: invert(90%);
    width: 60em;
    height: 5em;
  }
}

hr {
  // color: $bright-turquoise;
  margin-top: 2em;
  width: 95%;
}

.app__text {
  padding: 1em 0;
  text-align: center;
}

.app__components-wrapper {
  margin-top: 1em;
  display: flex;
}

.app_components-left {
  width: 33.333%;
  padding-right: .5em;
}

.app_components-right {
  width: 66.666%;
  padding-left: .5em;
  margin-left: 1em;
}
