html {
  height: 100%;
}

body {
  padding-top: 5em;
  font-family: 'Trajan';
  background-image:  linear-gradient( rgba($cod-grey, 0.9), rgba($cod-grey, 0.65) ), url("/src/assets/images/marble_bg.jpg");
  background-color: $mine-shaft;
  color: $white;
}
