html {
  height: 100%;
}

body {
  padding-top: 4em;
  // height: 100%;
  // font-family: 'Inconsolata', monospace;
  font-family: 'Trajan';
  background: $mine-shaft;
  color: $white;
  min-height: 100%;
}
