
html {
  font-family: 'Inconsolata', monospace;
  background: #050505;
  color: #00e5e5;
}

.app {
  width: 100%;
}

.container {
  width: 70em;
  margin: 0 auto;
}

.app__title {
  text-align: center;
  font-size:  4em;
  padding-bottom: .5em;
}

.app__text {
  text-align: center;
}
